@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>@ViewData["Message"]</h3>
    <p>Student @ViewData["Student"]</p>

    <address>
        <strong>More information: </strong> <a href="https://github.com/lucasemanuelo/xadrez-console">Meu perfil GitHub</a>
    </address>
</div>
